#menu {
	background: #000000;
	background: linear-gradient(to bottom,  #000000,  #000000);
	color: #FFF;
	height: 35px;
	padding-left: 18px;
	border: 1px solid #6D6D6D;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding-left: 10px;
    padding-right: 10px;
	list-style: none;
    background: url(/Line\ 4.png) left no-repeat;
    background-position:left;
	background-size: 1px 15px;
}
#menu ul {
	width: 100%;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
}
#menu a {
	display: block;
	line-height: 35px;
	padding: 0 14px;
	text-decoration: none;
	color: #f99a00;
	font-size: 16px;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #000000;
	background: #f7b38c;
	transition: 1s;
	border-radius: 10px;
	-webkit-box-shadow: inset -1px 3px 8px 5px #ffffff, 2px 5px 16px 0px #0B325E, inset 5px 5px 15px 5px rgba(255,115,19,0); 
box-shadow: inset -1px 3px 8px 5px #ff9e1f, 2px 5px 16px 0px #0B325E, inset 5px 5px 15px 5px rgba(255,115,19,0);
background: #ffffff;
}
body#tinymce {
background: #FFFFFF
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 59px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 57px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.2em;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}
@media screen and (max-width: 800px){
	#menu {position:relative; height: 50px;}
	#menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}


body{
    font-family:sans-serif
}

img{
    width: 200px;
	margin: auto 0;
}

#div-img{
	background: rgb(27,9,0);
	background: linear-gradient(90deg, rgba(27,9,0,0.6118909477853641) 0%, rgba(0,0,0,0.754748090642507) 61%, rgba(0,0,0,0.7379413679534313) 69%, rgba(0,0,0,0.5978853455444677) 94%, rgba(0,0,0,1) 100%), url(/crawler-dozers_j-ii_2.jpg) no-repeat  center;
	background-size: 100% 180%;
}

html{
    margin: -10px;
}

@media (min-width: 200px) and (max-width: 767.98px) {
	#logo{width: 120px; height: 130px;
	}
	#div-img{
		background: rgb(27,9,0);
		background: linear-gradient(90deg, rgba(27,9,0,0.6118909477853641) 0%, rgba(0,0,0,0.754748090642507) 61%, rgba(0,0,0,0.7379413679534313) 69%, rgba(0,0,0,0.5978853455444677) 94%, rgba(0,0,0,1) 100%), url(/crawler-dozers_j-ii_2.jpg) no-repeat center;
		height: 120px;
		width: 760px;
	}
	#menu{
		height: 45px;
		font-size: 1.0em;
	}
	#menu label {
		line-height: 57px;
		text-align: center;
		margin-bottom: 20px;
		display: flex;
	}

	a{
		height: 30px;
	}	
}

@media (min-width: 768px) and (max-width: 991.98px) {
	#logo{width: 170px; height: 189;}
	#div-img{
		background-size: 100% 180%;
		height: 160px;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	#logo{width: 200px; height: 189;}
	#div-img{
		background-size: 100% 220%;
		height: 190px;
		position: right;
	}
}

@media (min-width: 1200px) {
	#logo{width:200px; height: 190px; position: left;}
	#div-img{
		height: 190px;
		width: 1720px;
		background-position: center;	
	}
}

